<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



</head>
<body>

<style>
    .bg-img {
        /* The image used */
        background-image: url("https://picsum.photos/id/180/900/1200");


        min-height: 380px;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* Needed to position the navbar */
        position: relative;
    }

    /* Position the navbar container inside the image */
    .container {
        position: absolute;
        margin: 20px;
        width: auto;
    }

    /* The navbar */
    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    /* Navbar links */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the button and place it in the middle of the container/image */
    .btn {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: black;
    }
</style>
<div class="bg-img">
    <div class="container">
        <button class="btn">NewEntry</button>
        <div class="topnav">
            <a href="#home">Home</a>

            <a th:href="@{/Entries}">Entries</a>

        </div>

    </div>

</div>

</body>
</html>
